body {
	background-color: white;
	margin: 0;
	font-family: Ubuntu, sans-serif;
}
.header{
	font-size: 25px;
	padding: 10px;
	text-align: center;
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #FF8811;
}
section {
	display: flex;
}	
.navbar {
	display: flex;
	background-color: #F4D06F;
	position: sticky;
	top: 0;
	z-index: 100;
}
.navbar a {
	color: #121019;
	padding: 8px 24px;
	text-decoration: none;
	text-align: center;
}
.navbar a:hover {
	background-color: #FAE4B0;
	color: #121019;
}
.aside{
	flex: 1;
	background-color: #9C94A5;
	padding: 20px;
}
.aside ul{
	list-style-type: none;
	padding: 6px;
}
.aside p{
	text-align: left;
}
.aside a{
	text-decoration: none;
}
p{
	text-align: center;
	color: #121019;
}
h2{
	color: #121019;
	text-align: center;
}
.article{
	flex: 4;
	background-color: #FFF8F0;
	flex-direction: column;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}
.article button {
	padding: 4px;
	margin-left: 40px;
}
h6{
	text-align: left;
	margin-left: 40px;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
.footer{
	background-color: #392F5A;
	padding: 15px;
}	
.footer a{
	background-color: #FAE4B0;
	padding: 2px;
	text-decoration: none;
}
.footer p{
	text-align: right;
}