body{
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: #F0ABE6;
	margin-left: 50px;
	font-family: Batang;
	color: Blue;
}

h1{
	text-align: center;
	color: Red;
	font-family: Arial;
	font-size: 40px;
}

.boksi{
	padding: 20px;
	text-align: center;
	background-color: rgb(200,200,255);
	border: Blue;
	border-style: double;
}

a{
	text-align: center;
	align: center;
}

p{
	text-align: center;
}


a:hover{
	background-color: Red;
}